<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081483504024-9npbdrdsetg851cckt8qquqbmiq56qa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081483504024-9npbdrdsetg851cckt8qquqbmiq56qa6</string>
	<key>API_KEY</key>
	<string>AIzaSyD3I72iFzC5uXYOj8PqjgJCj4iXF2U2EFA</string>
	<key>GCM_SENDER_ID</key>
	<string>1081483504024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hrProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hr-startup-92d19</string>
	<key>STORAGE_BUCKET</key>
	<string>hr-startup-92d19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081483504024:ios:88480339f578f020c763ed</string>
</dict>
</plist>